<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="forms-control" #nameInput/>
                </div>
                <div class="col-md-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="forms-control" #amountInput/>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <span class="float-left">
                    <button class="btn btn-success mr-1" type="submit"
                    (click)="onAddItem()">Submit</button>
                    <button class="btn btn-danger mr-1" type="submit">Delete</button>
                    <button class="btn btn-primary" type="submit">Clear</button>
                </span>
            </div>
        </form>
    </div>
</div>
